# Core dependencies
numpy==2.3.5
requests>=2.31,<2.32
tqdm
wget
PyYAML

# Audio processing
ffmpeg-python>=0.2.0
faiss-cpu==1.13.2
librosa==0.11.0
scipy==1.16.3
soundfile==0.12.1
noisereduce
pedalboard
stftpitchshift
soxr

# Machine learning
numba==0.63.1
torch
torchvision
torchaudio
torchcrepe
torchfcpe
transformers>=4.46
tokenizers>=0.20
accelerate
safetensors
einops

# Visualization / UI
matplotlib==3.10.8
tensorboard
gradio==6.5.1

# Utilities
tensorboardX
edge-tts==7.2.7
pypresence
beautifulsoup4
sounddevice
webrtcvad-wheels